
@{
    ViewBag.Title = "Acknowledgement";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="head_title">
    <h3 style="color: #4da6ff; ">Acknowledgement</h3>
</div>
<h4>Image Details</h4>
    <table class="doc">
        <tr>
            <td><b>Website Icon:</b></td>
            <td><a href="http://iconfont.cn/">Provided by Ali</a></td>
        </tr>
        <tr>
            <td><b>IBookStore image: </b></td>
            <td>
                <a href="https://www.whatsuplife.in/kolkata/blog/best-bookstores-book-stores-book-shops-kolkata/">https://www.whatsuplife.in/kolkata/blog/best-bookstores-book-stores-book-shops-kolkata/</a>
                   
                   </td>
        </tr>
        <tr>
            <td><b>Pride and Prejudice:</b></td>
            <td><a href="http://quotesgram.com/elizabeth-pride-and-prejudice-quotes/">http://quotesgram.com/elizabeth-pride-and-prejudice-quotes/</a></td>
        </tr>
        <tr>
            <td><b>The Stoeied Life of A.J:</b></td>
            <td><a href="http://www.loveisamutt.com/2015/01/storied-life-j-fikry-book-review.html">http://www.loveisamutt.com/2015/01/storied-life-j-fikry-book-review.html</a></td>
        </tr>
        <tr>
            <td><b>The Kite Runner:</b></td>
            <td><a href="http://quotesgram.com/memorable-quotes-from-kite-runner/">http://quotesgram.com/memorable-quotes-from-kite-runner/</a></td>
        </tr>
        
    </table>
<div>
    <h4></h4>
</div>

