
@{
    ViewBag.Title = "Documentation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id ="head_title">
    <h3 style="color: #4da6ff; ">Documentation</h3>
  
</div>

@*<head>
    <title>Documentation</title>
    
</head>*@
<body>
    <div class="title">
        <p><a href="#i1">1. Assignment Information</a></p>
        <p><a href="#i2">2. Image Details</a></p>
        <p><a href="#i3">3. Additional MVC functionality</a></p>
        <p><a href="#i4">4. jQuery Funtionality</a></p>
    </div>
    <div>
        <h5 id="i1">1. Assignment Information</h5>
        <table class="doc">
            <tbody>
                <tr>
                    <td>
                        <b>Author:</b>
                    </td>
                    <td>
                        <span>虞  威 </span> ID: 27315932,Email: 
                        <a href="mailto: fit5192@student.monash.edu">fit5192@student.monash.edu</a>
                        <br />
                        <span>赵仕进 </span> ID: 27315894, Email:
                        <a href="mailto: fit5192@student.monash.edu">fit5192@student.monash.edu</a>

                         </td>
                </tr>
                <tr>
                    <td><b>Unit Name:</b></td>
                    <td>Enterprise and internet applications development</td>
                </tr>
                <tr>
                    <td>
                        <b>Unit Code:</b>

                    </td>
                    <td>FIT 5192</td>
                </tr>
                <tr>
                    <td><b>Unit Provider:</b></td>
                    <td>Monash University, The Caufield School of Information Technology</td>
                </tr>
                <tr>
                    <td><b>Assignment Number:</b></td>
                    <td>Assignment 2(<a href="http://moodle.vle.monash.edu/pluginfile.php/4112729/mod_resource/content/9/Assignments/FIT5192-A2-2016_Specification.pdf">Assignment Specification</a>) </td>
                </tr>
                <tr>
                    <td><b>Date of Submission:</b></td>
                    <td>26 Aug. 2016</td>
                </tr>
                <tr>
                    <td><b>Lecturer/Tutor</b></td>
                    <td>Jue(Grace) Xie & Yuncheng Hua</td>
                </tr>
            </tbody>
        </table>
        <h5 id="i2">2. Image Details</h5>
        <p class="doc">Please refer to <a href="Acknowledgement" target="_blank">Acknowledgement</a></p>

        <h5 id="i3">3. Additional MVC functionality</h5>

        <p class="doc">We used jQuery to implement <a href="/27315932_mvc/User">Search</a> function, there is no additional MVC functionality</p>
       
         <h5 id="i4">4. jQuery functionality</h5>
         <ul class="doc">
             <li>
                 Row highlighting and alternating row coloring: Page:<a href="/27315932_mvc/User">1</a> |
                 <a href="http://jquery.com/" target="_blank">jQuery Homepage</a>
             </li>
             <li>
                 Date Picker:<a href="/27315932_mvc/User/Create">Add</a>
                 /
                 <a href="/27315932_mvc/User/Edit/1007">Edit</a>
                 |
                 <a href="http://jqueryui.com/" target="_blank">jQuery UI Homepage</a>
             </li>
             <li>
                 DataTables for Search function:<a href="/27315932_mvc/User">search</a>
                 |
                 <a href="http://datatables.net/" target="_blank">DataTables Homepage</a>
             </li>
         </ul>
    </div>
</body>


