@{
    ViewBag.Title = "IBookStore";
}

<div id="myCarousel" class="carousel slide">
    <div class="carousel-inner">

        <div class="item active">
            <img src="img/bookstore.jpg" alt="" />
            <div class="container">

                <div class="carousel-caption">
                    <h3>Welcome to our BookStore</h3>
                    <p class="lead">
                        IBookStore is founded by Sam and Alex in 26 August 2016. We are studying at SEU-Monash Joint Graduate School.                     </p>
                    <p class="overview">
                        This website is used to display and sell books and most of them are significantly popular among crowds. It is our wish that an increasing amount of people can spend more time on reading.                     </p>
                    @*<a class="btn btn-large btn-primary" href="#">Buy now</a>*@
                </div>
            </div>
        </div>

        <div class="item">
            <img src="img/book1.png" alt="" />
            <div class="container">

                <div class="carousel-caption">
                    <h3>The Storied Life of A. J. Fikry</h3>
                    <p class="lead">
                        On the faded Island Books sign hanging over the porch of the Victorian cottage is the motto "No Man Is an Island; Every Book Is a World." A. J. Fikry, the irascible owner, is about to discover just what that truly means.
                    </p>
                    <p class="overview">
                        A. J. Fikry’s life is not at all what he expected it to be. His wife has died, his bookstore is experiencing the worst sales in its history, and now his pr ...
                    </p>
                    <a class="btn btn-large btn-primary" href="#">Buy now</a>
                </div>
            </div>
        </div>


        <div class="item">
            <img src="img/book2.jpg" alt="">
            <div class="container">
                <div class="carousel-caption">
                    <h3>Pride and Prejudice</h3>
                    <p class="lead">
                        "It is a truth universally acknowledged, that a single man in possession of a good fortune, must be in want of a wife. "
                    </p>
                    <p class="overview">
                        Set in England in the late 18th century, Pride and Prejudice tells the story of Mr. and Mrs. Bennet's five unmarried daughters after two gentlemen have moved into their neighbourhood: the rich Mr. Bingley, and his friend,  Mr. Darcy. While Bingley takes an immediate liking to the eldest Bennet daughter, Jane, Darcy is disdainful of local society and repeatedly clashes with the Bennets' lively second daughter, Elizabeth
                    </p>
                    <a class="btn btn-large btn-primary" href="#">Learn more</a>
                </div>
            </div>
        </div>


        <div class="item">
            <img src="img/book3.jpg" alt="" />
            <div class="container">
                <div class="carousel-caption">
                    <h3>The Kite Runner</h3>
                    <p class="lead">
                        “It may be unfair, but what happens in a few days, sometimes even a single day, can change the course of a whole lifetime."
                    </p>
                    <p class="overview">
                        Amir is the son of a wealthy Kabul merchant, a member of the ruling caste of Pashtuns. Hassan, his servant and constant companion, is a Hazara, a despised and impoverished caste. Their uncommon bon ...
                    </p>
                    <a class="btn btn-large btn-primary" href="#">Learn More</a>
                </div>
            </div>
        </div>

    </div>
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>